* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0fff1;
   
}

/* nav */
.navbar {
    background-color: #b79ced; 
    overflow: hidden;
}

.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a.active {
    
    color: white;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    width: 330px;
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    
}

/* log in and register forms */
form {
    width: 400px;
    margin: 50px auto; /* Center the container */
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    filter:drop-shadow(10px 7px 10px skyblue)
    
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #b4e4ff; 
}

input[type="submit"] {
    background-color: #f0fff1;
    color: f0fff1;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.cons {
    float: right;
    padding: 100px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    filter:drop-shadow(10px 7px 10px skyblue);

}

.container {
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.5;
}

